<div class="jumbotron">
    <h1>Web Api Crud - Jorge Correa</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>GET All</h2>
        <p>api/employees</p>
    </div>
    <div class="col-md-4">
        <h2>GET by Id</h2>
        <p>api/employees/5</p>
    </div>
    <div class="col-md-4">
        <h2>PUT by Id</h2>
        <p>api/employees/5</p>
    </div>
    <div class="col-md-4">
        <h2>POST by employee</h2>
        <p>api/employees</p>
    </div>
    <div class="col-md-4">
        <h2>DELETE by Id</h2>
        <p>api/employees/5</p>
    </div>
</div>
